<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar com texto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
    aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="textoNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Destaques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Preços</a>
      </li>
    </ul>
    <span class="navbar-text">
      Texto navbar com um elemento inline
    </span>
  </div>
</nav>
<div class="container">
  <br>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" class="form-control" placeholder="Nome">
      <small id="emailHelp" class="form-text text-muted">O devastador de mundos</small>
    </div>

    <div class="form-group ">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button">
            <b>F</b>orça
          </button>
        </div>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="text" class="form-control half-round-left" placeholder="00" size="4" maxlength="4">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button">
            <b>H</b>abilidade
          </button>
        </div>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="text" class="form-control half-round-left" placeholder="00" size="4" maxlength="4">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button">
            <b>R</b>esistência
          </button>
        </div>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="text" class="form-control half-round-left" placeholder="00" size="4" maxlength="4">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button">
            <b>A</b>rmadura
          </button>
        </div>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="text" class="form-control half-round-left" placeholder="00" size="4" maxlength="4">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button">
            <b>P</b>oder <b>d</b>e <b>F</b>ogo
          </button>
        </div>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="text" class="form-control half-round-left" placeholder="00" size="4" maxlength="4">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Historia</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


    <div class="form-group">
        <label for="exampleFormControlTextarea1">Historia</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>



  </form>
  <div class="pmd-floating-action" role="navigation">
    <button class="btn btn-outline-danger btn-round">
      <i class="fa fa-server"></i>
    </button>
  </div>
</div>
