<nav class="navbar navbar-dark bg-dark text-white">
  <a class="navbar-brand">{{perc.nome}} | {{perc.pont}}</a>
</nav>
<div class="container">
  <br>
  <form>

    <div class="form-group ">
      <label>HP</label>
      <progressbar [max]="assets.hpMax" [value]="assets.hp" type="danger">
        <span class="text-nowrap">{{assets.hp}} / {{assets.hpMax}}</span>
      </progressbar>
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button (click)="remAssets('hp',10)" class="btn btn-outline-danger " type="button">
            <i class="fa fa-minus"></i><b>10</b>
          </button>
          <button (click)="remAssets('hp',5)" class="btn btn-outline-danger " type="button">
            <i class="fa fa-minus"></i><b>5</b>
          </button>
          <button (click)="remAssets('hp',1)" class="btn btn-outline-danger " type="button">
            <i class="fa fa-minus"></i><b>1</b>
          </button>
          <button (click)="openModal(template)" class="btn btn-outline-secondary " type="button">
            |
          </button>
          <button (click)="addAssets('hp',1)" class="btn btn-outline-success " type="button">
            <i class="fa fa-plus"></i><b>1</b>
          </button>
          <button (click)="addAssets('hp',5)" class="btn btn-outline-success " type="button">
            <i class="fa fa-plus"></i><b>5</b>
          </button>
          <button (click)="addAssets('hp',10)" class="btn btn-outline-success " type="button">
            <i class="fa fa-plus"></i><b>10</b>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <label>MP</label>
      <progressbar [max]="assets.mpMax" [value]="assets.mp">
        <span class="text-nowrap">{{assets.mp}} / {{assets.mpMax}}</span>
      </progressbar>
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button (click)="remAssets('mp',10)" class="btn btn-outline-danger " type="button">
            <i class="fa fa-minus"></i><b>10</b>
          </button>
          <button (click)="remAssets('mp',5)" class="btn btn-outline-danger " type="button">
            <i class="fa fa-minus"></i><b>5</b>
          </button>
          <button (click)="remAssets('mp',1)" class="btn btn-outline-danger " type="button">
            <i class="fa fa-minus"></i><b>1</b>
          </button>
          <button (click)="openModal(template)" class="btn btn-outline-secondary " type="button">
            |
          </button>
          <button (click)="addAssets('mp',1)" class="btn btn-outline-success " type="button">
            <i class="fa fa-plus"></i><b>1</b>
          </button>
          <button (click)="addAssets('mp',5)" class="btn btn-outline-success " type="button">
            <i class="fa fa-plus"></i><b>5</b>
          </button>
          <button (click)="addAssets('mp',10)" class="btn btn-outline-success " type="button">
            <i class="fa fa-plus"></i><b>10</b>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group ">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button" title="Força">
            <b>F</b><span class="d-none">orça</span>
          </button>
          <button (click)="remAttrs('forc')" class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button (click)="addAttrs('forc')" class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="number" [(ngModel)]="perc.forc" name="forc" id="forc" class="form-control half-round-left"
          placeholder="0" disabled="disabled" size="4" maxlength="4">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button" title="Habilidade">
            <b>H</b><span class="d-none">abilidade</span>
          </button>
          <button (click)="remAttrs('habi')" class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button (click)="addAttrs('habi')" class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="number" [(ngModel)]="perc.habi" name="habi" id="habi" class="form-control half-round-left"
          placeholder="0" disabled="disabled" size="4" maxlength="4">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button" title="Resistência">
            <b>R</b><span class="d-none">esistência</span>
          </button>
          <button (click)="remAttrs('resi')" class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button (click)="addAttrs('resi')" class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="number" [(ngModel)]="perc.resi" name="resi" id="resi" class="form-control half-round-left"
          placeholder="0" disabled="disabled" size="4" maxlength="4">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button" title="Armadura">
            <b>A</b><span class="d-none">rmadura</span>
          </button>
          <button (click)="remAttrs('armd')" class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button (click)="addAttrs('armd')" class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="number" [(ngModel)]="perc.armd" name="armd" id="armd" class="form-control half-round-left"
          placeholder="0" disabled="disabled" size="4" maxlength="4">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary half-round-right" type="button" title="poder de fogo">
            <b>P</b><span class="d-none">oder</span> <b>d</b><span class="d-none">e</span> <b>F</b><span
              class="d-none">ogo</span>
          </button>
          <button (click)="remAttrs('podf')" class="btn btn-outline-danger btn-round" type="button">
            <i class="fa fa-minus"></i>
          </button>
          <button (click)="addAttrs('podf')" class="btn btn-outline-success btn-round" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <input type="number" [(ngModel)]="perc.podf" name="podf" id="podf" class="form-control half-round-left"
          placeholder="0" disabled="disabled" size="4" maxlength="4">
      </div>
    </div>

    <hr>
    <fieldset>
      <legend>Desvantagens</legend>
      <div class="row col-12" *ngFor="let d of perc.dvan;">
        <div class="col-8 border half-round-right">{{ d.desc }}</div>
        <div class="col-4 border ">{{ d.value }}</div>
      </div>
    </fieldset>
    <hr>

    <fieldset>
      <legend>Vantagens</legend>
      <div class="row col-12" *ngFor="let d of perc.vant;">
        <div class="col-8 border half-round-right">{{ d.desc }}</div>
        <div class="col-4 border ">{{ d.value }}</div>
      </div>
    </fieldset>
    <hr>

    <div class="form-group">
      <label for="hist">Historia</label>
      <div class="border col-12">
        <small>
          {{perc.hist}}
        </small>
      </div>
    </div>
  </form>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{perc.nome}} </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary half-round-right" type="button">
              <b>HP max</b>
            </button>
          </div>
          <div class="input-group-append" id="button-addon4">
            <button (click)="(assets.hpMax = assets.hpMax - 1)" class="btn btn-outline-danger btn-round" type="button">
              <i class="fa fa-minus"></i>
            </button>
            <button (click)="(assets.hpMax = assets.hpMax + 1)" class="btn btn-outline-success btn-round" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <input type="number" [(ngModel)]="assets.hpMax" name="hpMax" id="hpMax" class="form-control half-round-left"
            placeholder="0" size="4" maxlength="4">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary half-round-right" type="button">
              <b>MP max</b>
            </button>
          </div>
          <div class="input-group-append" id="button-addon4">
            <button (click)="(assets.mpMax = assets.mpMax - 1)" class="btn btn-outline-danger btn-round" type="button">
              <i class="fa fa-minus"></i>
            </button>
            <button (click)="(assets.mpMax = assets.mpMax + 1)" class="btn btn-outline-success btn-round" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <input type="number" [(ngModel)]="assets.mpMax" name="mpMax" id="mpMax" class="form-control half-round-left"
            placeholder="0" size="4" maxlength="4">
        </div>
      </div>
    </div>
  </ng-template>

</div>
